@import "parts/header"
// @import "parts/main"
@import "parts/second_screen"
@import "parts/_third_screen"
@import "parts/_fourth_screen"
@import "parts/_fifth_screen"
*
    margin: 0
    padding: 0
body,html
    margin: 0
    padding: 0
    background: #ECE2E2