.first-article
    &__tittle
        width: max-content
        margin-top:50px
        margin-left: 150px
        font-size: 36px
        font-family: Cinzel Decorative
        font-weight: 700
        background-image: url('../../../img/Star.png')
        background-size: 17%
        background-position: right top
        background-repeat: no-repeat
        padding: 40px 60px 0 0
    &__wrapper
        margin-top: 100px
        background: #FFAAE2
        display: flex
        height: 300px
        align-items: center
        justify-content: center
        padding: 30px 0
    &__text
        padding-left: 20px
        display: flex
        flex-direction: column
        gap: 20px
        max-width: 770px
        width: 60%
        gap: 20px
        font-family: Poppins
        font-size: 18px
        font-weight: 400
.second-article
    display: flex
    align-items: center
    justify-content: center
    margin-top: 60px
    &__wrapper
        display: flex
        align-items: center
    &__tittle
        margin-bottom: 40px
        font-family: Cinzel Decorative
        font-size: 36px
        font-weight: 700
        background-image: url('../../../img/border_star.png')
        background-repeat: no-repeat
        background-position: center 10px
        background-size: contain
        width: max-content
        padding: 40px 40px 0 0

    &__text
        width: 90%
        max-width: 1000px
        font-family: Poppins
        font-size: 16px
        font-weight: 400
        p
            margin-bottom: 20px
.fifth-screen-articles
    background-image: url('../../../img/space-bg.png')
    background-size: 100% 98%
    background-repeat: no-repeat
    &__first-article
        padding-top: 50px
        margin: auto
        margin-top: 40px
    &__title
        color: white
        font-family: Cinzel Decorative
        font-size: 36px
        font-weight: 700
        width: max-content
        margin: auto
        margin-bottom: 30px
        padding: 30px 25px
        background-image: url('../../../img/wave_star.png')
        background-size: 60%
        background-position: right -5px
        background-repeat: no-repeat
    &__text
        width: 100%
        max-width: 994px
        text-align: center
        font-family: Poppins
        font-size: 18px
        font-weight: 400
        color: white
        margin: auto
        p
            margin: auto
            margin-bottom: 20px
    &__list
        display: flex
        width: 100%
        max-width: 1024px
        margin: auto
        gap: 20px
        list-style: none
        color: white
        flex-wrap: wrap
        font-family: Poppins
        font-size: 20px
        font-weight: 600
        padding: 40px
        background-image: url('../../../img/fallen_star.png')
        background-repeat: no-repeat
        background-size: cover
        background-position: center
    &__second-article
        max-width: 1150px
        width: 80%
        margin: auto
        margin-top: 100px
        display: flex
        color: white
        gap: 90px
        padding-bottom: 150px
    &__wrapper
        margin: auto
    &__second-title
        font-family: Cinzel Decorative
        font-weight: 700
        font-size: 36px
        margin-bottom: 40px
        width: max-content
        padding: 40px 40px 0 0
        background-image: url('../../../img/Star.png')
        background-size: 12%
        background-position: right 5px
        background-repeat: no-repeat
    &__second-text
        font-family: Poppins
        font-weight: 400
        font-size: 18px
        display: flex
        flex-direction: column
        gap: 20px
    &__image
        max-width: 350px
        width: 100%
        object-fit: contain
    &__apply-button
        margin-top: 20px
        background: linear-gradient(268.57deg, #FF00A8 27.31%, #BD00FF 72.69%, #FF00A8 109.82%, #BD00FF 72.69%)
        border: none
        border-radius: 50px
        padding: 8px 0
        color: #FAF8F0
        font-family: Poppins
        font-size: 20px
        font-weight: 600
        width: 100%
        max-width: 223px
        display: flex
        justify-content: center 
        text-decoration: none
        margin-top: 50px
        transition: all 0.5s
        &:hover
            background-position: 240px
            cursor: pointer
@media (min-width: 601px) and (max-width: 1200px)
    .first-article
        &__tittle
            font-size: 36px !important
            margin-top: 150px
        &__text
            font-size: 15px
            padding-left: 20px
        &__wrapper
            height: 275px
            img
                width: 300px
        img
            width: 100%
            max-width: 300px
        &__text
            font-size: 15px 
        &__tittle
            font-size: 20px   
    .fifth-screen-articles
        &__title
            font-size: 25px
            margin-top: 50px
        &__text
            font-size: 16px
            width: 90%
            max-width: 994px
        &__list
            font-size: 12px
            width: 100%
            max-width: 500px
            justify-content: center
            background-size: contain
            background-position: top
        &__second-article
            width: 90%
            margin-top: 0
            flex-direction: column
            align-items: center
        &__second-title
            font-size: 25px 
        &__second-text
            font-size: 15px
        &__apply-button
            font-size: 20px
            margin: auto
            margin-top: 50px
        &__image
            max-width: 265px    
            // max-height: 290px
@media (max-width:600px)
    .fifth-screen-articles
        background-size: cover
        &__second-article
            margin-top: 30px
            gap: 40px
    .first-article
        &__wrapper
            display: contents
        &__tittle
            font-size: 25px
            margin: auto
            margin-top: 40px
            paddin-bottom: 20px
            margin-bottom: 30px
        &__text
            margin: auto
            font-size: 20px !important
            width: 80%
        img
            width: 100%
        img:nth-child(1)
            width: 100%
            height: 100%
    .second-article
        display: contents
        margin-top: 30px
        gap: 40px
        &__tittle
            font-size: 25px
            margin: auto
            margin-bottom: 20px
        &__text
            font-size: 20px !important
            width: 80%
            margin: auto
        &__wrapper
            display: flex
            flex-direction: column-reverse

    .fifth-screen-articles
        &__first-article
            margin-top: -170px
        &__title
            font-size: 25px
            margin-top: 250px
        &__text
            font-size: 15px
            width: 80%
            margin: auto
        &__list
            width: 50%
            max-width: 200px
            margin: auto
            font-size: 13px
            justify-content: center
            li
                text-align: center
        &__second-article
            flex-direction: column
            flex-wrap: wrap
            align-items: center
            width: 90%
        &__second-title
            font-size: 25px
            margin: auto
            margin-bottom: 20px
        &__second-text
            font-size: 15px
            // width: 80%
            margin: auto
            margin-bottom: 30px
        &__apply-button
            font-size: 15px
            margin: auto
            margin-bottom: 30px 
        &__image
            max-width: 250px

