.fifth_screen_about
    display: flex
    flex-direction: column
    margin-bottom: 100px
    >h2:nth-child(1)
        font-size: 36px
        font-weight: 700
        font-family: Cinzel Decorative
        display: flex
        justify-content: flex-start
        width: 90%
        margin: 0 auto
        background-image: url("../../../img/Star.png")
        background-repeat: no-repeat
        background-position: 205px -3px
        height: 100px
        align-items: center
    >div:nth-child(2)
        margin-top: 100px
        display: flex
        justify-content: center
        align-items: center
        background: #FFAAE2
        height: 400px
        >img
            width: 500px
        >p
            font-family: Poppins
            font-weight: 400
            font-size: 18px
            width: 700px
    >div
        margin-top: 100px
        display: flex
        justify-content: center
        align-items: center
        height: 400px
        >img
            width: 500px
        >div
            display: flex
            flex-direction: column
            gap: 20px
            >p
                font-family: Poppins
                font-weight: 400
                font-size: 18px
                width: 700px
            >h2
                font-size: 36px
                font-weight: 700
                font-family: Cinzel Decorative
                display: flex
                justify-content: flex-start
                width: 90%
                margin: 0 auto
                padding-top: 50px
                padding-bottom: 50px
                background-image: url('../../../img/border_star.png')
                background-repeat: no-repeat
                background-position: 0 9px
.fifth_screen_main_description_wrapper
    background-image: url('../../../img/space-bg.png')
    background-size: cover
    background-repeat: no-repeat
    display: flex
    flex-direction: column
    >div
        margin-top: 120px
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        color: #FAF8F0
        gap: 20px
        >h2
            font-family: Cinzel Decorative
            font-size: 36px
            font-weight: 700
            background-image: url('../../../img/wave_star.png')
            background-repeat: no-repeat
            background-position: right -5px
            padding: 30px
        >p
            font-family: Poppins
            font-weight: 400
            font-size: 18px
            width: 1000px
        >div
            font-family: Poppins
            font-size: 20px
            font-weight: 600
            >ul
                display: flex
                width: 1000px
                margin: 0 auto
                flex-wrap: wrap
                gap: 40px
                background-image: url('../../../img/fallen_star.png')
                background-repeat: no-repeat
                background-position: center
                padding: 40px
                >li
                    list-style: none
.fifth_screen_second_description_wrapper
    display: inline-flex
    flex-direction: row
    >div
        display: flex
        flex-direction: column
        >h2
            font-family: Cinzel Decorative
            font-size: 36px
            font-weight: 700
            margin-bottom: 50px
        >div
            display: flex
            flex-direction: column
            gap: 20px
            >p
                width: 700px
            >button
                background: linear-gradient(268.57deg, #FF00A8 27.31%, #BD00FF 109.82%)
                border: none
                border-radius: 50px
                padding: 13px 40px
                color: #FAF8F0
                font-family: Poppins
                font-size: 20px
                font-weight: 600
                width: 300px
                margin: 10px auto 
                &:hover
                    background: linear-gradient(268.57deg, #BD00FF 27.31%, #FF00A8 109.82%)
                    cursor: pointer
                    transition: background-image 0.5s linear