.footer
    height: max-content
    background: #02091F
    &__wrapper
        padding-top: 20px
        display: flex
        color: white
        justify-content: space-around
        align-items: center
    &__logo
        font-family: Cinzel Decorative
        font-size: 20px
        font-weight: 700
        color: white
        text-decoration: none
    &__navigation
        font-family: Lato
        font-size: 16px
        font-weight: 600
        gap: 40px
        ul
            width: inherit
            display: flex
            gap: 30px
            li
                list-style: none
                a
                    color: white
                    text-decoration: none
    &__apply-button
        width: 100%
        max-width: 223px
        a
            width: 100%
            max-width: 223px
            background: linear-gradient(268.57deg, #FF00A8 27.31%, #BD00FF 72.69%, #FF00A8 109.82%, #BD00FF 72.69%)
            border: none
            border-radius: 50px
            padding: 8px 0
            color: #FAF8F0
            font-family: Poppins
            font-size: 20px
            font-weight: 600
            margin: 10px auto 
            display: flex
            justify-content: center 
            text-decoration: none 
            transition: all 0.5s  
            &:hover
                background-position: 185px
                cursor: pointer
                
    &__link
        color: white
        width: max-content
        margin: auto
        margin-top: 20px
        padding-bottom: 20px
        font-family: Poppins
        font-weight: 400
        font-size: 20px
@media (max-width:1000px)
    .footer
        &__wrapper
            width: 90%
            margin: auto
            flex-wrap: wrap
        &__navigation
            font-size: 13px
        &__link
            font-size: 13px
            width: 80%
            margin: auto
            text-align: center
        &__apply-button
            a
                font-size: 13px
@media (max-width:640px)
    .footer
        &__wrapper
            display: flex
        &__logo
            margin-bottom: 20px
        &__navigation
            margin-bottom: 20px
            text-align: center
            ul
                margin-top: 30px
                flex-direction: column
                gap: 10px
        &__apply-button
            margin-bottom: 20px
@media (min-width: 640px)
    .footer
        &__navigation
            display: flex
            ul
                display: flex
