.fourth_screen_main_wrapper
    margin-top: 100px
.fourth_screen_info_wrapper
    border-radius: 200%
    width: 35%
    margin: 0 auto
    display: flex
    gap: 30px
    justify-content: center
    background-image: url('../../../img/chaos.png')
    background-repeat: no-repeat 
    background-position: center 20px
    background-size: 90%
    height: 360px
    &__data
        text-align: center
        h2
            color: #FF00A8
            font-family: Cinzel Decorative
            font-size: 40px
            font-weight: 700
        p
            font-family: Poppins
            font-size: 20px
            font-weight: 500
    &__data:nth-child(2)
        position: relative
        bottom:  50px
.fourth_screen_title_wrapper
    margin-bottom: 150px
    h2
        width: max-content
        margin: auto
        padding: 60px
        background-image: url('../../../img/title_decoration.png')
        background-repeat: no-repeat
        background-position: center center
        background-size: cover
        color: #FF00A8
        font-family: Cinzel
        font-size: 36px
        font-weight: 700
        padding-bottom: 50px
    &__apply_button
        background: linear-gradient(268.57deg, #FF00A8 27.31%, #BD00FF 72.69%, #FF00A8 109.82%, #BD00FF 72.69%)
        border: none
        border-radius: 50px
        padding: 8px 0
        color: #FAF8F0
        font-family: Poppins
        font-size: 20px
        font-weight: 600
        width: 100%
        max-width: 223px
        max-height: 44px
        margin: 10px auto 
        display: flex
        justify-content: center 
        text-decoration: none
        transition: all 0.5s 
        &:hover
            background-position: 310px
            cursor: pointer
.fourth_screen_logo_wrapper
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: 40px
    height: 200px
    h2
        font-family: Cinzel Decorative
        font-size: 48px
        font-weight: 700
        margin-bottom: 60px
        margin-top: 40px 
        padding: 25px 50px
        background-image: url('../../../img/splash.png')
        background-repeat: no-repeat 
        background-position: 20px -2px
    p
        width: 70%
        max-width: 800px
        text-align: center
        margin: 0 auto
        font-family: Poppins
        font-weight: 500
        font-size: 20px
.fourth_screen_card_wrapper
    margin-top: 200px
    background-image: url('../../../img/arc.png')
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    padding-bottom: 60px
    height: 840px !important
.forth_screen_main_card_wrapper
    display: flex
    justify-content: center
    flex-direction: row
    margin: 0 auto
    gap: 30px
    padding: 30px
    width: 90%
    max-width: 1300px
    background: #02091F
    border-radius: 10px
    flex-wrap: wrap
    &__card
        h3
            color: #FFAAE2
            font-family: Cinzel
            font-size: 20px
            font-weight: 700
            margin-bottom: 30px
        &__list
            width: 400px
            ul
                padding: 0 35px
                li
                    color: #FFFFFF
                    font-family: Poppins
                    font-size: 16px
                    font-weight: 300
@media (min-width: 768px) and (max-width: 1024px)
    .fourth_screen_title_wrapper
        margin-top: 0
        height: 0
        height: 140px
        background-size: cover
        background-position: top
        h2
            padding-top: 50px
            font-size: 30px
            background-position: center
            background-size: cover
        &__apply_button
            width: 100%
            max-width: 223px
            font-size: 70%
    .forth_screen_main_card_wrapper
        width: 500px
        flex-wrap: wrap
    .fourth_screen_info_wrapper
        background-position: center 80px
@media (min-width: 1500px)
    .fourth_screen_logo_wrapper
        p
            width: 800px
            text-align: center
    .fourth_screen_info_wrapper
        background-size: auto
        background-position: center 0px
    .fourth_screen_card_wrapper
        background-size: cover
@media (max-width:1025px)
    .fourth_screen_info_wrapper
        background-size: cover
        background-position: center -20%
        height: 180px
        &__data
            h2
                font-size: 15px
            p
                font-size: 10px
    .forth_screen_main_card_wrapper
        width: 79%
        display: flex
        flex-wrap: wrap
        margin-top: 300px
        &__card
            display: flex
            flex-direction: column
            align-items: center
            h3
                font-size: 20px
                width: 100%
                text-align: center
                margin: auto
                margin-bottom: 20px
            &__list
                
                ul
                    li
                        // width: 200px
                        font-size: 16px
                        margin: auto
    .fourth_screen_title_wrapper
        h2
            font-size: 20px
            width: 70%
            margin: 0 auto
            text-align: center 
            padding: 40px 50px 40px 50px
            background-position: center 20%
            background-size: contain
        &__apply_button
            font-size: 15px
            width: 30%
            max-width: 223px
    .fourth_screen_logo_wrapper
        text-align: center
        margin-bottom: 40px
        
        h2
            font-size: 20px
            background-size: 15%
    .fourth_screen_card_wrapper
            padding-bottom: 190px
@media (max-width: 1440px) and (min-width: 1025px)
    .fourth_screen_info_wrapper
        background-position: center 80px !important
@media (max-width: 600px)
    .fourth_screen_info_wrapper
        background-size: 130%
        height: 120px
        border-radius: 28%
        width: 40%
@media (max-width: 450px)
    .forth_screen_main_card_wrapper
        &__card
            h3
                font-size: 18px
            &__list
                width: unset
                ul
                    li
                        font-size: 14px
